@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light theme */
html[data-theme="light"] .app-navbar {
  background-color: #ffffff;
}

/* Luxury theme */
html[data-theme="luxury"] .app-navbar {
  background-color: #292524;
  border-bottom-color: #57534e;
}
